@model IEnumerable<ProjectC_.ViewModels.MenuLoaiVM>
@foreach (var item in Model)
{
	<div class="list-product">
		<div class="d-flex justify-content-between box-title">
            <h2  class="header-prod">
				<a asp-contoller="HangHoa" asp-action="Index" asp-route-loai="@item.MaLoai"> @item.TenLoai
				</a>
				</h2>
			<p class="see-all"> <a href="#">Có @item.SoLuong sản phẩm  </a></p>
		</div>
		<div class="box-product">
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="product">
						<div class="img">
							<img src="images/AnhCat/phong-khach-ban-uong-nuoc.png" alt="Bàn uống nước" class="img-fluid">
						</div>
						<div class="info">
							<p class="name"> <a href="#"> Bàn uống nước</a>   </p>
							<p class="vote">
								<span><i class="fas fa-star"></i></span>
								<span><i class="fas fa-star"></i></span>
								<span><i class="fas fa-star"></i></span>
								<span><i class="fas fa-star"></i></span>
								<span><i class="fas fa-star"></i></span>
							</p>
							<p class="desc">(4 ngăn, Gỗ sồi, Gỗ lim, Gỗ mít) </p>

							<p class="price"> <span>0</span> VNĐ </p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product">
						<div class="img">
							<img src="images/AnhCat/phong-khach-ke-de-do.png" alt="Kệ để đồ" class="img-fluid">
						</div>
						<div class="info">
							<p class="name"> <a href="#"> Kệ để đồ</a>   </p>
							<p class="vote">
								<span><i class="fas fa-star"></i></span>
								<span><i class="fas fa-star"></i></span>
								<span><i class="fas fa-star"></i></span>
								<span><i class="fas fa-star"></i></span>
								<span><i class="fas fa-star"></i></span>
							</p>
							<p class="desc">(4 ngăn, Gỗ lim) </p>

							<p class="price"> <span>12.999.000</span> VNĐ </p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product">
						<div class="img">
							<img src="images/AnhCat/phong-khach-ke-ti-vi.png" alt="Kệ TV" class="img-fluid">
						</div>
						<div class="info">
							<p class="name"> <a href="#"> Kệ TV</a>   </p>
							<p class="vote">
								<span><i class="fas fa-star"></i></span>
								<span><i class="fas fa-star"></i></span>
								<span><i class="fas fa-star"></i></span>
								<span><i class="fas fa-star"></i></span>
								<span><i class="fas fa-star"></i></span>
							</p>
							<p class="desc">(4 ngăn, Gỗ lim) </p>

							<p class="price"> <span>12.899.000</span> VNĐ </p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product">
						<div class="img">
							<img src="images/AnhCat/phong-khach-ban-uong-nuoc-2.png" alt="BÀN UỐNG NƯỚC 2" class="img-fluid">
						</div>
						<div class="info">
							<p class="name"> <a href="#"> BÀN UỐNG NƯỚC 2</a>   </p>
							<p class="vote">
								<span><i class="fas fa-star"></i></span>
								<span><i class="fas fa-star"></i></span>
								<span><i class="fas fa-star"></i></span>
								<span><i class="fas fa-star"></i></span>
								<span><i class="fas fa-star"></i></span>
							</p>
							<p class="desc">(Size vừa, Gỗ sồi) </p>

							<p class="price"> <span>3.999.000</span> VNĐ </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}